body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --surface-color: #fff;
  --curve: 40;
}
* {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: nowrap; 
  gap: 0.10rem;
}

.card-item {
  flex: 1;
  min-width: 0;
}

.card {
  position: relative;
  display: block;
  height: 310px;
  width: 200px; 
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  height: 120px;
  border-radius: calc(var(--curve) * 1px) calc(var(--curve) * 1px) 0 0;
  object-fit: cover;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--surface-color);
  transform: translateY(0); 
  transition: transform 0.2s ease-in-out;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(0);
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__thumb {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 75%;
}

.card__title {
  font-size: 1rem;
  color: #6A515E;
  font-weight: bold;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.9rem;
  color: #D7BDCA;
  font-family: "Arial", sans-serif;
}

.card__description {
  padding: 0 1em 1em;
  margin: 0;
  color: #D7BDCA;
  font-family: "Arial", sans-serif;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-14 {
  color: #000;
}

.service-14 .badge {
  color: #fff;
}

.display-5 {
  font-size: 1.5rem;
}

.lead {
  font-size: 1rem;
}

.display-5 fw-bold {
  font-size: 1.2rem;
}

.text-uppercase {
  font-size: 0.8rem;
}
.berita {
  border: 1px solid #ddd;
  border-radius: .375rem;
  overflow: hidden;
  box-shadow: 0 0 .125rem rgba(0,0,0,.125);
  text-decoration: none;
}

.berita-img-top {
  width: 100%;
  height: auto;
}

.berita-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.berita-title {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.berita-text {
  margin-bottom: 10px;
}

.berita-btn-container {
  margin-top: auto;
  display: flex;
  padding: 10px;
  padding-bottom: 0.5rem;
}

.berita-btn {
  margin-top: auto;
}

.slider-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slider-btn-prev-btn {
  border: none;
  background-color: bisque;
}

.slider-btn-next-btn {
  border: none;
  background-color: bisque;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-btn-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}