/* General styles for background and text color */
.container-fluid.custom-container {
	background-color: black; /* Set background to black */
  }
  
  .data-blank-header-wrapper {
	background-color: rgba(0, 0, 0, 0.5); /* Darker background for headers */
	padding: 10px;
	border-radius: 8px;
  }
  
  .data-blank-icon {
	color: #98FF98; /* Mint color for icons */
  }
  
  .data-blank-lead,
  .data-blank-list-item,
  .data-blank-number,
  .data-blank-category,
  .display-5 {
	color: #98FF98; /* Mint color for text */
	font-weight: bold; /* Make all text bold */
  }
  
  .data-blank-list-item {
	color: #98FF98; /* Mint color for list items */
  }
  
  .data-blank-number {
	color: #98FF98; /* Mint color for numbers */
  }
  
  .data-blank-category {
	color: #98FF98; /* Mint color for categories */
  }
  
  .data-blank-border {
	border-top: 2px solid #98FF98; /* Mint color for borders */
  }
  
  .custom-container {
	box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.3), 0px -10px 20px -10px rgba(0, 0, 0, 0.3);
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
  }
  
  .container-fluid {
	padding-right: 0;
  }
.services {
	padding: 0;
}
.title h2 {
	font-weight: 600;
	font-size: 35px;
	color: #232323;
}
.title p {
	color: #848484;
	margin: 0 auto;
}
.border {
	height: 2px;
	margin: 20px auto 20px;
	position: relative;
	width: 80px;
	background: #28ABE3;
    margin-bottom: 60px;
}

.services .service-block.color-bg {
	background: #28ABE3;
	color: #fff;
}
.services .service-block .service-icon {
	margin-bottom: 30px;
}
.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
	color: #fff;
}
.services .service-block h3 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.services .service-block p {
	font-size: 14px;
	color: #fff;
}
.services .service-block h3 {
	color: #333;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}
.services .service-block p {
	font-size: 14px;
	color: #666;
}
.services .service-block.color-bg i, .services .service-block.color-bg h3, .services .service-block.color-bg p {
	color: #fff;
}
.services .service-block i {
	font-size: 40px;
	color: #28ABE3;
}
.header-wrapper {
	display: flex;
	align-items: center;
  }
  
  .header-wrapper svg {
	margin-right: 0.5rem;
	width: 24px;
  	height: 24px;
    fill: #007bff;
  }
  
  .header-wrapper h1,
  .header-wrapper p {
	margin-bottom: 0;
  }
  .navbar-text{
	font-size: 13px;
  }