.custom-container {
	background-color: #ffffff; 
  }
  
  .section-header {
  border-radius:10px 10px 0 0;
	border-bottom: 5px solid #104d53;
	padding: 15px;
  background-color: #CBE2B5;
  }
  .sarana{
    padding: 10px;
    background-color: #96CEB4;
}