.custom-border-bottom {
    border-bottom: 3px solid #17a2b8; /* Change 4px to your desired thickness and color */
}
.carousel-item {
  display: flex;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.grid-gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 100%;
    background: linear-gradient(184deg, rgba(81,194,251,0) 0%, rgba(11,56,109,1) 100%);
    pointer-events: none;
    z-index: 1;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    overflow: hidden;
}

.grid-text-overlay {
    position: absolute;
    bottom: -10px;
    z-index: 2;
    padding: 1rem; /* Added padding for better spacing */
    text-decoration: none;
    color: white;
}

.grid-text-overlay h2 {
    font-size: calc(1.5rem + 1vw); /* Responsive text size */
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: white;
}

.grid-text-overlay p {
    font-size: calc(0.875rem + 0.5vw); /* Responsive text size for paragraph */
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .grid-text-overlay h2 {
        font-size: 1.5rem; /* Adjust text size for smaller screens */
    }

    .grid-text-overlay p {
        font-size: 1rem; /* Adjust text size for smaller screens */
    }
}

  
  
  


  
.grid2-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 100%; /* Adjust based on how much of the image you want covered */
  background: linear-gradient(184deg, rgba(81,194,251,0) 0%, rgba(11,56,109,1) 100%);
  pointer-events: none;
  z-index: 1;
} 

.grid2-text-overlay {
  position: absolute;
  bottom: -2px; /* Adjust positioning if needed */
  left: 10px;
  z-index: 2;
}

.grid2-text-overlay h5 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

.grid2-text-overlay p {
  font-size: 0.875rem;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .grid2-text-overlay {
    position: absolute;
    bottom: -5px; 
    left: 10px;
    z-index: 2;
  }
  .grid2-text-overlay h5 {
    font-size: 0.830rem; /* Smaller text on mobile */
  }
  .grid2-text-overlay p {
    font-size: 0.660rem; /* Smaller text on mobile */
  }
}





  /* Keeping the gradient and text overlay within the image */
.grid3-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(184deg, rgba(81,194,251,0) 0%, rgba(11,56,109,1) 100%);
  pointer-events: none;
  z-index: 1;
}

.grid3-text-overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  text-decoration: none;
  color: white; /* Ensure the text is visible */
}

.grid3-text-overlay h5 {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: white;
}

.grid3-text-overlay p {
  font-size: 0.875rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .grid3-text-overlay h5 {
    font-size: 1.25rem;
  }
}



.grid4-gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  background: linear-gradient(184deg, rgba(81,194,251,0) 0%, rgba(11,56,109,1) 100%);
  pointer-events: none;
  z-index: 1;
}

.grid4-text-overlay {
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 2;
  text-decoration: none;
  color: white;
}

.grid4-text-overlay h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: white;
}

.grid4-text-overlay p {
  font-size: 0.795rem;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .grid4-text-overlay {
    position: absolute;
    bottom: 2px;
    left: 30px;
    z-index: 2;
    text-decoration: none;
    color: white; 
  }
  .grid4-text-overlay h5 {
    font-size: 0.960rem;
  }
  .grid4-text-overlay p {
    font-size: 0.750rem;
  }
}
