.bg-custom {
    --bg-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1124&amp;q=100');
    background-image: var(--bg-image);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* Backdrop Style */
  .custom-backdrop {
    backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }
  .card.hovercard .card-header {
    background-position: center;
}

.avatar img {
    width: 100px;
    height: 100px;
}
.custom-list {
	padding-left: 0;
	list-style: none; 
  }
  
  .custom-list li {
	position: relative; 
	color: #ffffff;
	padding-left: 25px; 
	margin-bottom: 10px; 
  }
  
  .custom-list li::before {
	content: '•'; 
	position: absolute;
	left: 0;
	color: #ffffff; 
	font-size: 1.5rem; 
	line-height: 1;
  top: 0; 
  }
  
  
  .bi-check-circle {
	color: #ffffff;
	margin-right: 8px;
  }
  .fixed-size-img {
    width: 250px;  /* Fixed width */
    height: 250px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    overflow: hidden; /* Hide any overflow */
    position: relative;
  }
  @media (max-width: 768px) {
    .card-gap {
      margin-bottom: 30px; /* Adjust this value as needed */
    }
  }
  @media (max-width: 992px) { /* Adjust for medium screens */
    .card {
      flex-direction: column; /* Stack the image and text vertically on medium screens */
    }
  }